<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> Agenda
    </a>
    <ul><li><a (click)="loginAction()">Entrar</a></li>
      <li><a (click)="signupAction()">Cadastrar</a></li>
      <li><a (click)="forgotPasswordAction()">Esqueci minha senha</a></li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>All right reserved @llSoft</h2>
</div>