<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">llAgenda é mais</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Praticidade</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Gerencie seus compromissos de maneira fácil e rápido, todos os seus
                            compromissos na tela do seu computador ou celular.
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Gerenciador</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">llAgenda não é apenas uma agenda, nele você pode também, gerenciar o seu
                            negócio
                            com controle de estoque, controle de vendas e cadastro de clientes.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Qualidade</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Otimize o seu negócio ou empresa, com llAgenda seu empreedimento entregara
                            um serviço
                            de qualidade e mais atencioso aos seus clientes.
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Suporte</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">A SilentSoft é uma empresa focada em qualidade, queremos dar o melhor
                            suporte para nossos clientes, propondo o melhor atendimento para a solucões
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Assine 
                        <br />
                        agora mesmo
                        <br />
                        llAgenda
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>
